<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<hr>
<h3>Student information form</h3>
<hr>
{% for category,message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-danger">
    {{message}}
</div>
{% endfor %}

<form action="{{request.path}}" method="POST">
    <label for="name">Name</label><br>
    <input type="text" name="name" placeholder="Name"><br>
    <label for="city">City</label><br>
    <input type="text" name="city" placeholder="City"><br>
    <label for="addr">Address</label><br>
    <textarea name="addr" placeholder="address"></textarea><br>
    <label for="pin">Pin</label><br>
    <input type="text" name="pin" placeholder="pin"><br>
    <input type="submit" value="submit">





</form>

</body>
</html>